.data-container {
  backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.image-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* make a gradient in border */
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.tasks-box-container {
  flex-direction: column;
  justify-content: center;
}

.glassy-container {
  display: flex;
  align-items: center;
  padding: 3px 18px;
  backdrop-filter: blur(5px);
  border-radius: 7px;
  box-shadow: 2px 2px 8px #424242;
  width: 100%;
}

.standard-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #7f7661;
}

.right-icon {
  margin-right: 10px;
}

input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  margin: 0;
  flex-grow: 1;
}

#task-input {
  color: #ffff;
}

#task-input::placeholder {
  color: #ffff;
}

.up {
  transform: rotate(180deg);
}

.tasks-container {
  background-color: rgba(255, 255, 255, 0.876);
  margin-top: 10px;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}

.tasks-container::-webkit-scrollbar {
  width: 6px;
}

.tasks-container::-webkit-scrollbar-track {
  background-color: rgba(113, 79, 67, 0.3);
}

.tasks-container::-webkit-scrollbar-thumb {
  background-color: #714f43;
}

.tasks-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(113, 79, 67, 0.7);
  cursor: pointer;
}

.task-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.task-content {
  display: flex;
  align-items: center;
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-options-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.task-actions button {
  background-color: transparent;
  border: none;
  color: #452c2d;
  font-size: 0.9rem;
  cursor: pointer;
}

.task-dropdown {
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1;
}

.task-dropdown button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.task-dropdown button:hover {
  background-color: #f5f5f5;
}
